.App {
  font-family: Arial, sans-serif;
}

.hero-section {
  background-image: url('./assets/images/Main_background.jpg');
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.map-container {
  margin: 20px auto;
  width: 80%;  /* Ширина карты */
  height: 400px;  /* Высота карты */
  border: 2px solid #ddd;  /* Обводка карты */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}